Import libraries.

In [1]:
import pandas as pd    # data formatting
import numpy as np     # numeric library
from sklearn.neighbors import KNeighborsClassifier  # machine learning
from sklearn.externals import joblib # exporting model
from sklearn.metrics import confusion_matrix
import random

In [2]:
%matplotlib inline
from matplotlib import pylab, pyplot  # plotting

Read data.

In [42]:
data = pd.read_csv('seed_data/scores.csv')

Pivot data.

In [43]:
d = data.pivot(index='producer_id', columns='performer_id', values='score')

In [44]:
d.head()

performer_id,1,2,3,4,5,13,18,20,21,22,...,1730289,1731488,1731529,1732680,1732985,1734410,1734423,1734890,1735951,1736560
producer_id,,,,,,,,,,,,,,,,,,,,,
70,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
72,1,1,0,1,1,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
82,0,1,1,0,0,0,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
110,0,1,1,1,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
112,0,1,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

This dataframe has 307 rows and 9665 columns.  Each row corresponds to 1 producer.  Each column corresponds to a performer.

In [45]:
d.shape

(307, 9665)

In [46]:
d.tail()

performer_id,1,2,3,4,5,13,18,20,21,22,...,1730289,1731488,1731529,1732680,1732985,1734410,1734423,1734890,1735951,1736560
producer_id,,,,,,,,,,,,,,,,,,,,,
1646412,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1663511,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1687278,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1702507,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1706060,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [47]:
d.describe()

performer_id,1,2,3,4,5,13,18,20,21,22,...,1730289,1731488,1731529,1732680,1732985,1734410,1734423,1734890,1735951,1736560
count,307.000000,307.000000,307.000000,307.000000,307.000000,307.000000,307.000000,307.000000,307.000000,307.000000,...,307.000000,307.000000,307.000000,307.000000,307.000000,307.000000,307.000000,307.000000,307.000000,307.000000
mean,0.039088,0.127036,0.130293,0.228013,0.026059,0.159609,0.003257,0.058632,0.013029,0.055375,...,0.003257,0.003257,0.003257,0.003257,0.003257,0.003257,0.003257,0.003257,0.003257,0.003257
std,0.194121,0.333557,0.337175,0.420236,0.159570,0.366841,0.057073,0.235318,0.113585,0.229083,...,0.057073,0.057073,0.057073,0.057073,0.057073,0.057073,0.057073,0.057073,0.057073,0.057073
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

Show performer's 5 nearest neighbors.

In [64]:
knn = KNeighborsClassifier(n_neighbors=5)

In [65]:
list(d.index)

[70,
 72,
 82,
 110,
 112,
 123,
 146,
 158,
 170,
 184,
 217,
 224,
 337,
 383,
 491,
 509,
 577,
 662,
 685,
 686,
 698,
 699,
 848,
 862,
 1056,
 1070,
 1529,
 1553,
 1555,
 1954,
 2024,
 2194,
 2260,
 2268,
 2524,
 2726,
 2906,
 3264,
 3608,
 3646,
 4463,
 4617,
 4709,
 4736,
 5214,
 5898,
 6021,
 6708,
 7122,
 7161,
 7462,
 7561,
 7570,
 7573,
 7856,
 7898,
 9476,
 9662,
 10233,
 10418,
 11546,
 11845,
 12908,
 12991,
 13046,
 13585,
 13872,
 13945,
 14166,
 14766,
 14777,
 15708,
 15870,
 16678,
 17102,
 17598,
 17746,
 18277,
 18379,
 18595,
 19824,
 19829,
 20185,
 21188,
 21456,
 22499,
 22698,
 23132,
 23315,
 23691,
 24099,
 24434,
 24741,
 26234,
 27258,
 27259,
 27438,
 27469,
 27472,
 27473,
 27474,
 27486,
 27500,
 27511,
 27606,
 27611,
 27612,
 27626,
 27635,
 27639,
 27640,
 27663,
 27665,
 27670,
 27689,
 27765,
 27794,
 27801,
 27819,
 27822,
 27869,
 27938,
 27987,
 28305,
 28455,
 28628,
 28938,
 29780,
 29935,
 29947,
 29978,
 30206,
 30761,
 31168,
 31695,
 31947,
 32429,
 32449,
 32626,
 33010,
 33062,
 33494,
 33699,
 34340,
 34909,
 34925,
 35149,
 35355,
 35762,
 36198,
 36352,
 36862,
 37215,
 37246,
 37762,
 38886,
 39574,
 39585,
 39592,
 40474,
 40475,
 41489,
 42536,
 43421,
 43733,
 43747,
 44079,
 44575,
 44685,
 45255,
 45465,
 46085,
 46666,
 49698,
 49829,
 49967,
 50896,
 52203,
 53509,
 54884,
 55555,
 55967,
 56599,
 63610,
 63770,
 64581,
 72396,
 73934,
 74563,
 80360,
 86919,
 95489,
 97841,
 99899,
 100291,
 133929,
 141265,
 141275,
 143593,
 150435,
 157384,
 158542,
 160406,
 175131,
 197662,
 197708,
 205609,
 215175,
 239980,
 267905,
 270426,
 283439,
 335733,
 335975,
 336528,
 339721,
 348422,
 349123,
 366454,
 385318,
 473313,
 513334,
 552001,
 557559,
 560785,
 572674,
 573490,
 575822,
 575891,
 577228,
 580572,
 587845,
 628652,
 634529,
 638688,
 639900,
 643219,
 643405,
 649283,
 649865,
 655009,
 663701,
 675937,
 680273,
 680624,
 681077,
 683137,
 932957,
 959645,
 970188,
 980303,
 980465,
 980518,
 982789,
 984361,
 984904,
 986854,
 987335,
 987412,
 991297,
 995172,
 1000140,
 1007524,
 1013170,
 1035355,
 1047132,
 1047738,
 1060785,
 1061235,
 1083097,
 1112844,
 1134021,
 1134250,
 1152755,
 1169351,
 1179071,
 1192941,
 1227872,
 1259866,
 1267249,
 1268970,
 1281878,
 1288632,
 1297752,
 1308755,
 1309939,
 1324131,
 1324375,
 1336537,
 1341248,
 1349738,
 1364922,
 1374456,
 1402544,
 1439530,
 1454291,
 1537529,
 1602238,
 1612048,
 1615875,
 1628850,
 1640674,
 1646412,
 1663511,
 1687278,
 1702507,
 1706060]

In [66]:
knn.fit(d.iloc[:,:], d.index)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=None, n_neighbors=5, p=2,
           weights='uniform')

In [67]:
predictions = knn.predict(d.iloc[:,:])

In [68]:
joblib.dump(knn, "trained-model_producers.pkl")

['trained-model_producers.pkl']

List index 0 = performer, following list indices are that performer's nearest neighbors.

In [69]:
dist, ind = knn.kneighbors(d.loc[112,:].values.reshape(1, -1))
print(ind[0])

[  4  51 238 254  91]

In [70]:
dist

array([[ 0.        , 14.56021978, 14.76482306, 14.76482306, 14.79864859]])

In [71]:
[list(d.index)[i] for i in ind[0]]

[112, 7561, 649283, 984361, 24434]